$padding: 8px;
$margin: 16px;
$full-width: 100%;
$box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);

$font-family: Helvetica, Arial, 'sans-serif';
$font-size-0: 10px;
$font-size-1: 12px;
$font-size-2: $font-size-1 + 2px;
$font-size-3: $font-size-1 + 4px;
$font-size-4: $font-size-1 + 10px;
$font-size-5: $font-size-1 + 20px;
$font-size-6: $font-size-1 + 30px;

$color-body: #252525;
$color-disable: #a1a1a1;
$color-primary: #2a7abe;
$color-secondary: #61dce1;
$color-snow: #fff;
$color-bg: #f2f2f2;

$coral: #f7614d;
$grass: #09bc33;

* {
  padding: 0px;
  margin: 0px;
}
body {
  font-family: $font-family;
  color: $color-body;
  background-color: $color-bg;
  line-height: 1.3;
}
sup {
  font-size: 60%;
}
.uppercase {
  text-transform: uppercase;
}
.container {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-direction: row;
}
.product-container {
  box-shadow: $box-shadow;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: $color-snow;
  padding: $padding * 2 0;
}
.product-retailer-block {
  box-sizing: border-box;
  width: $full-width;
  padding: 0 $padding $padding * 2;
}
.product-retailer-logo {
  max-width: 120px;
  max-height: 40px;
  float: left;
}
.product-image-block {
  width: $full-width;
  position: relative;
  text-align: center;
  background: url(../images/prod-bg.png) top no-repeat;
  background-size: contain;
}
.product-chip {
  font-size: $font-size-0;
  letter-spacing: 2px;
  padding: $padding $padding * 2;
  position: absolute;
  z-index: 27;
  top: 0;
  text-align: center;
}
.chip-offer {
  background-color: $coral;
  color: $color-snow;
  right: $margin;
}
.chip-new {
  background-color: $grass;
  color: $color-snow;
  left: $margin;
}
.product-image-top {
  max-width: 220px;
  height: auto;
  margin: $margin 0;
}
.product-body-block {
  text-align: center;
  padding: 0 $padding * 4;
}
.product-title {
  font-size: $font-size-4;
}
.product-description {
  font-size: $font-size-2;
  margin-bottom: $margin;
}
.product-pricing {
  margin-bottom: $margin;
}
.product-price-crossout {
  font-size: $font-size-2;
  color: $color-disable;
  text-decoration: line-through;
}
.product-price-offer {
  font-size: $font-size-6;
}
.product-extra {
  display: flex;
  flex-flow: row;
  border-top: 1px solid $color-secondary;
  padding: $padding * 2 0;
}
.product-extra-item {
  width: $full-width / 2;
  font-size: $font-size-1;
  color: $color-disable;
}
.add-to-cart-block {
  padding: 0 $padding * 4;
}
.btn {
  padding: $padding * 2;
  width: $full-width;
  letter-spacing: 2px;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  &:after {
    content: '→';
    padding-left: $padding;
  }
}
.btn-primary {
  color: $color-snow;
  background-color: $color-primary;
  font-size: $font-size-1;
  border: none;
  &:hover {
    background-color: $color-secondary;
  }
}

@media (max-width: 575px) {
  .product-container {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .product-container {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .product-container {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
}
@media (min-width: 768px) {
  .product-title {
    font-size: $font-size-3;
  }
  .product-price-offer {
    font-size: $font-size-5;
  }
  .product-body-block,
  .add-to-cart-block {
    padding: 0 $padding * 2;
  }
}
@media (min-width: 992px) {
  .product-container {
    flex: 0 0 24%;
    flex-grow: 1;
    max-width: 24%;
    margin: 0 $margin;
  }
  .product-price-offer {
    font-size: $font-size-6;
  }
}
